
.float-left{
	float:left;
}


.row{
	width: 100%;
	float:left;
	display: inline-block;
	margin-bottom: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.label {
	padding-top: 5px;
	padding-right: 5px;
	float:left;
}


input{
	margin-right: 5px;
	height: 30px;
}


#todoist_error,
#todoist_config,
#todoist_projects,
#todoist_tasks {
	display: none;
}



.todoist_header{
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  color: #23282d;
  display: inline-block;
  height: 40px;
}

.todoist_body {
  width: 100%;
}










#widget_for_todoist{
	width: 100%;
}



/*
#todoist_header_logo{
	float: left;
	width: 20%;
}
*/

#todoist_header_title {
	float: left;
	width: 100%;
}

#show_add_project_button {
	color: #82878c;
	float: right;
	margin-right: 10px;
}

#show_add_project_button :hover {
	color: #7ad03a;
}

#todoist_new_project{
	display:none;
	width: 100%;
	float: left;
}

#todoist_new_project_form p.submit {
	margin-top: 0;
	padding-top: 0;
}

#todoist_body{
	width: 100%;
}


